body, html{
  background-color: #ECC883;
  /*font-family: 'Cabin', sans-serif;*/
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 13px;
}

p
{
    text-align: justify;
}

ul {
  margin: 0;
}

ul li {
  display: inline-block;
  padding: 10px;
  font-size: 10px;
  float: right;
}

h1 {
  margin: 0px;
  padding-top: 2%;
  text-align: center;
}



form label {
  font-family: helvetica;
}

.forms {
  width: 100%;
  height: 500px;
  background-color: #9FEAE5;
}

.signup_form {
  float: left;
  margin-left: 10%;
}

.login_form {
  float: right;
  margin-right: 10%;
}

input[type=text] {
  padding:5px;
  border:2px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input[type=password] {
  padding:5px;
  border:2px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input[type=text]:focus {
  border-color:#333;
}

input[type=submit] {
   background:none;
   border:none;
   font-size:1em;
   color:black;
   text-decoration: none;
}



.description {
  display: inline-block;
}

.form-box {
  float: right;
}

form {
  padding: 5px;
}

form label {
  font-size: 20px;
  font-style: bold;
  padding-right: 10px;
  display: inline;
}

.comment_list {
  float: right;
  /*width: 60%;*/
  overflow: visible;
}

.comment_single {
  /*width:100%;*/
  padding-left: 0px;
  /*width: 100%;*/
  /*margin: 10px;*/
  text-align: left;
}

.comment_single > *{
  vertical-align: middle;
}

#content {
  font-size: 14px;
}

.comment_single p {
  display: inline-block;
  font-size: 12px;
  padding: 10px
}

#comment_username{
  font-weight: 700;
  font-size: 14px;
}
.timestamp{
  font-size: 10px;
  color: gray;
  margin-left: 15px;
}

header {
  width: 100%;
  background-color: #F2B459;
  height: 100px;
  margin-top: 0px;
  padding-bottom: 20px;
  padding-top: 0px;
  /*font-family: 'Raleway', sans-serif;*/
  font-family: 'Indie Flower', cursive;
}


#subtitle{
  font-size: 18px;
  margin-left: 10%;
  font-weight: 400;
}


.inline-block{
  display: inline;
}

.titles{
  width: 85%;
  text-align: left;
  margin-left: 12%;
}

.titles > *
{
  text-align: left;
  padding-top: 45px;
}

li {
  margin-top: 0px;
}

.user_single p{
  display: inline-block;

}

.user_single{
  text-align: left;
  margin: 5px;

}

.user_single > *
{
  vertical-align: middle;

}

.user_single img{
  margin: 15px;
}

.user_list {
  width: 30%;
  float: left;

}


a {
  text-decoration: none;
}

h2{
    font-weight: 300;
  margin-bottom:15px;

}


#intro_header{
  text-align: left;
}

.orange_strip{
  background-color: #F39019;
  height: 20px;
  width: 100%;
  -webkit-box-shadow: 0 8px 6px -6px #606060;
   -moz-box-shadow: 0 8px 6px -6px #606060;
        box-shadow: 0 8px 6px -6px #606060;
}

section {
  /*width: 85%;*/
  background-color: #FFF;
  margin: 40px auto;
  border: 15px solid #FFC96B;
  text-align: center;
  -moz-box-shadow: 0 0 7px #606060;
  -webkit-box-shadow: 0 0 7px #606060;
  box-shadow: 0 0 7px #606060;
  overflow: auto;
}

.comment_list table tr td *{
  margin: 15px;
}
#about_project{
  width: 85%;
}

#korn{
  width:70%;
}

.kostumes table tr p {
  text-align: center;
  /*font-weight: 400;*/
  font-size: 18px;
}

.kostumes{
  /*display: inline-block;*/
  margin: 0 auto;
  width: 85%;
}

#kornykostumes{
  font-size: 35px;
}

#kandy_korn{ width: 180px; margin-left: 15px;}
#korn_on_the_kob {width: 200px;}
#korn_dog_1 { width: 250px;}
#unikorn{ width: 150px;}
#korn_dog_2{ width: 150px;}

.column1{
  float: left;
  width: 60%;
  margin: 1%;
  margin-left: 5%;
  padding: 0;
  margin-top: 3%;

}
.column2{
  float: right;
  width: 30%;
  margin-top: 3%;
  margin-bottom: 3%;
}


hr{
  margin: 0;
}




/************JS**************/


/* js-disabled class - set image sizes so they all fit in the viewer */
.logo {
  width:100px;
  height:100px;
}
.js-disabled img {
  width:100px;
  height:100px;
  display:block;
  float:left;
  margin:30px 0 0;
}

#outerContainer {
  width:100%;
  height:202px;
  margin:auto;
  position:relative;
}

#imageScroller {
  width:100%;
 height:202px;
 position:relative;
 /*background:#000000 url(/img/imageScrollerBG.png) no-repeat;*/
}

#viewer {
  width:100%;
  height:182px;
  overflow:hidden;
  margin:auto;
  position:relative;
  top:10px;
}

#imageScroller a:active, #imageScroller a:visited {
  color:#000000;
}

#imageScroller a img {
  border:0;
}

#controls {
  width:100%;
  height:47px;
  background:url(/img/controlsBG.png) no-repeat;
  position:absolute;
  top:4px;
  left:4px;
  z-index:10;
}

#controls a {
  width:100px;
  height:35px;
  position:absolute;
  top:3px;
}

#controls a:active, #controls a:visited {
  color:#0d0d0d;
}

#title {
  color:#ffffff;
  font-family:arial;
  font-size:100%;
  font-weight:bold;
  width:100%;
  text-align:center;
  margin-top:10px;
}

#rtl {
  background:url(/img/rtl.png) no-repeat;
 left:100px;
}

#rtl:hover {
  background:url(/img/rtl_over.png) no-repeat;
  left:99px;
}

#ltr {
  background:url(/img/ltr.png) no-repeat;
  right:100px;
}

#ltr:hover {
  background:url(/img/ltr_over.png) no-repeat;

}

.comment_section{
  /*display: inline-block;*/
  width: 85%;
  margin: 0 auto;
}

table {
  max-width: 600px ;
  min-width: 600px ;
}

