<section id="about_project">
  <div class="column1">
    <h3 id="intro_header">Let's get Korn to wear an awesome costume for Halloween.</h3>

    <p>A small group of Brown Bats once had a dream. A dream to see Korn in a punny Halloween costume that would incorporate his name. In particular, they wanted him to dress up as candy corn.</p>

    <p>But Halloween costumes are expensive, and the Brown Bats were broke. Also, Korn did not take to the idea immediately. Upon telling him that we had already begun created a Kickstarter project to raise money for his costume, he agreed to wear the costume--but only if the project raised $300.</p>

    <p>Korn has agreed to dress up if we able to raise $300. Part of which will go towards purchasing a costume, and the rest of rest of which Korn has chosen to donate to a charity for the homeless and underprivileged.</p>

  </div>

  <div class="column2">
     <img id="korn" src="/img/we_love_you_korn_dog.jpg">
     <%= erb :_paypal_button %>
  </div>
</section>
