<div class='comment_list'>
  <table>
    <% if current_user %>
      <%= erb :_comment_form %>
    <% end %>
      <% Comment.all.reverse_each do |comment| %>
      <div class='comment_single'>
        <section>
        <p><%= "#{comment.user.firstname} #{comment.user.lastname} commented" %></p>
        <p id='content'><%= comment.content %></p>
        <p><%= comment.time_difference %></p>
        </section>
      </div>
      <% end %>
  </table>
</div>