<nav>
  <ul>
    <li>
      <form action='/sessions/<%= current_user.id %>' method='post'>
          <input name='_method' type='hidden' value='delete' />
         <!--  <a href="/sessions/<%= params[:id] %>">Sign Out</a> -->
          <input type='submit' value='Sign Out'>
      </form>
    </li>
  </ul>
</nav>



