<section class="kostumes">
  <h2>Potential Kostumes</h2>
  <table>
    <tr>
      <td>
        <img id="kandy_korn" src="/img/kandy_korn.jpg">
      </td>

      <td>
        <img id="korn_on_the_kob" src="/img/korn_on_the_kob.jpg">
      </td>

      <td>
        <img id="korn_dog_1" src="/img/korn_dog_1.jpg">
      </td>

      <td>
        <img id="unikorn" src="/img/unikorn.png">
      </td>

      <td>
        <img id="korn_dog_2"src="/img/korn_dog_2.png">
      </td>

    </tr>

    <tr>
      <td><p>Kandy Korn</p></td>
      <td><p>Korn on the Kob</p></td>
      <td><p>Korn Dog</p></td>
      <td><p>UniKorn</p></td>
      <td><p>Korn Dog</p></td>

    </tr>

  </table>

</section>


