<div class='container'>
  <h1>Sign In</h1>

  <form class='signin_form' method='post' actions='/sessions/new'>
    <label>Email</label>
    <input type='email' name='email' placeholder='e.g. korn@supa.com'>
    <label>Password</label>
    <input type='password' name='password'>
    <input type='submit' value='Sign In'>
  </form>
</div>