<% if @errors %>
  <% @errors.each do |attribute, error| %>
    <p><%= attribute %>: <%= error %></p>
  <% end %>
<% end %>
<h1>Sign Up</h1>
<form id='sign-up' method='post' action='/users'>
  <label>First Name:</label>
  <input type='text' name='user[firstname]' placeholder='e.g. korn'>
  <br>

  <label>Last Name:</label>
  <input type='text' name='user[lastname]' placeholder='e.g. supa'>
  <br>

  <label>Email:</label>
  <input type='email' name='user[email]' placeholder='e.g. korn@supa.com'>
  <br>

   <label>Password</label>
  <input type='password' name='user[password]'>
  <br>
  <label>Password Confirmation</label>
  <input type='password' name='confirmation_password'>
  <br>

  <input type='submit' value='Sign Up!'>



</form>