<!DOCTYPE html>
<html lang="en">
<head>

  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link href='http://fonts.googleapis.com/css?family=Cabin|Raleway' rel='stylesheet' type='text/css'>
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script type="text/javascript" src='/js/image_scroller.js'></script>


  <title>Korny Kostumes</title>
</head>

<body>
<header>
  <% if current_user %>
      <%= erb :_header_logged_in %>
    <% else %>
      <%= erb :_header_logged_out %>
    <% end %>
    <h1>Korny Kostumes</h1>
    <p>A Brown-Bat-to-Brown-Brown-Bat Halloween Announcement</p>

</header>
<div class="orange_strip">
</div>

  <%= yield %>
</body>
</html>
